table{
    width: 100%;
}
table, th, td{
    border: 1px solid black;
   /* border-collapse: collapse;*/
    padding: 5px;
}
caption{
    color: aquamarine;
    font-family: "Trocchi", serif;
    font-size: 45px;
    line-height: 70px;
}
th{
    color: blue;
    background-color: black;
}
/*renglones pares*/
tr:nth-child(even){
    background-color: aqua;
}
/*renglones inpares*/
tr:nth-child(odd){
    background-color: antiquewhite;
}
/*
td{
    text-align: center;
}
th{
    text-align: left;
}*/